.carCard_main {
    position: relative;
    width: 100%;
    height: 1.5em;
    user-select: none;
    margin: 2em 0;
}

.carCard_icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5rem;
    fill: white;
}

.carCard_info {
    position: absolute;
    left: 2rem;
    top: 0;
    font-size: 100%;
    font-weight: 500;
}

.carCard_price {
    position: absolute;
    right: 0.5rem;
    top: 0;
    font-size: 100%;
    font-weight: bold;
    text-align: right;
    color: var(--blue);
}

.carCard_point {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    left: calc(-2.3rem); /* -0.5 Cards Padding,  -1.5 to middle of timeline, -0.3 for own width*/
    top: calc(50% - 0.3rem);
    z-index: 100;
    background-color: var(--timeline);
    border-radius: 0.3rem;
}
