.citycard_main {
    position: relative;
    width: 100%;
    height: 5em;
    border-radius: 0.5em;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
    user-select: none;
    margin-bottom: 0.5em;
}

.citycard_name {
    position: absolute;
    bottom: 0.3em;
    left: 0.5em;
    right: 0.5em;
    font-size: 100%;
    font-weight: bold;
    color: white;
    z-index: 20;
}

.citycard_days {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    font-size: 80%;
    font-weight: bold;
    color: white;
    z-index: 20;
}

.citycard_gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5em;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 50%);
}

.citycard_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.5em;
}

.citycard_point {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    left: calc(-2.3rem); /* -0.5 Cards Padding,  -1.5 to middle of timeline, -0.3 for own width*/
    top: calc(50% - 0.3rem);
    z-index: 100;
    background-color: var(--timeline);
    border-radius: 0.3rem;
}
