.sliderFilter_main {
    position: relative;
    height: 5em;
    margin-bottom: 2em;
}

.sliderFilter_text {
    width: 100%;
    height: 1.5em;
    font-size: 100%;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    user-select: none;
    pointer-events: all;
}

.sliderFilter_textClicked {
    color: var(--blue);
}

.sliderFilter_text:hover {
    opacity: 0.5;
}

.sliderFilter_svg {
    width: 100%;
    height: 1.5em;
}

.sliderFilter_line {
    stroke: var(--text-dimmed);
    stroke-width: 3;
}

.sliderFilter_handle {
    position: absolute;
    top: 1.95em;
    height: 0.6em;
    border-radius: 0.5em;
    background: var(--blue);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}

.sliderFilter_references {
    width: 100%;
    height: 1.25em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.sliderFilter_ref_0 {
    width: 33%;
    font-size: 75%;
    font-weight: bold;
    color: var(--text-dimmed);
    text-align: left;
}

.sliderFilter_ref_1 {
    width: 33%;
    font-size: 75%;
    font-weight: bold;
    color: var(--text-dimmed);
    text-align: center;
}
.sliderFilter_ref_2 {
    width: 33%;
    font-size: 75%;
    font-weight: bold;
    color: var(--text-dimmed);
    text-align: right;
}
