.summary_main {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.summary_city {
    font-size: 120%;
    font-weight: bold;
    color: var(--text);
}

.summary_date {
    font-size: 90%;
    font-weight: bold;
    color: var(--text-dimmed);
}
